@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap');
.app{
  background-color: #FFF8DC;
  min-height: 70vh;
  max-width: 800px;
}

.form{
  max-width: 250px;
}

.home,.contact,.projects, .navbar{
  font-family: "josefin slab",serif;
}

.form-control:focus{
  border-color: #06402B !important;
  box-shadow: 0 0 0 0.08rem rgba(32, 178, 170, 0.2) !important;
  outline: none;
}
